<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 系统参数默认值,key请保持跟枚举SystemParam一致,具体含义注释请查看此枚举 -->
    <!-- 由于扩展项目无法更改SystemParam,则新增加的参数需要自行建立相应的枚举 -->
    <bean id="systemParam" class="com.llsfw.core.common.SystemParamDef">
        <property name="data">
            <util:map id="systemParam" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String">
                <entry key="PAGE_SIZE" value="50" />
                <entry key="SYSTEM_DEF_PSWD" value="123456" />
                <entry key="SESSION_NAME" value="USER_SESSION" />
                <entry key="SYSTEM_DEF_NAME" value="SYSTEM" />
                <entry key="DETAILED_RECORDS" value="true" />
                <entry key="LOG_SCH_FLAG" value="true" />
                <entry key="TRIGGER_SEARCH_INTERVAL" value="60000" />
                <entry key="SCHEDULED_LOG_KEEP_TIME" value="7" />
                <entry key="SCHEDULED_TRIGGER_LOG_KEEP_TIME" value="7" />
                <entry key="APP_LOG_KEEP_TIME" value="7" />
                <!-- 以下为自定义区域 -->


                <!-- 是否真实发送,0:假发送,1:真发送 -->
                <entry key="SEND_REAL" value="${USP.SEND_REAL}" />
                <!-- 假发送,线程休眠的时间(毫秒) -->
                <entry key="SEND_REAL_SLEEP_TIME" value="${USP.SEND_REAL_SLEEP_TIME}" />


                <!-- 单条消息最大长度(计费单位=1),超过此长度,则为长短信(计费单位>1) -->
                <entry key="SINGLE_SMS_CONTENT_LENGTH" value="${USP.SINGLE_SMS_CONTENT_LENGTH}" />
                <!-- 发送消息最大长度,超过此长度,拆分多条消息 -->
                <entry key="MAX_SMS_CONTENT_LENGTH" value="${USP.MAX_SMS_CONTENT_LENGTH}" />

                <!-- 号码列表最大长度,超出此长度,则拆分成多条消息 -->
                <entry key="MAX_MOBILE_LIST" value="${USP.MAX_MOBILE_LIST}" />

                <!-- 发送表的个数 -->
                <entry key="SMS_SEND_TABLE_COUNT" value="${USP.SMS_SEND_TABLE_COUNT}" />
                <!-- 计费表的个数 -->
                <entry key="SMS_BILLING_TABLE_COUNT" value="${USP.SMS_BILLING_TABLE_COUNT}" />

                <!-- 单次发送消息的条数 -->
                <entry key="SEND_SMS_MAX_EXEC_COUNT" value="${USP.SEND_SMS_MAX_EXEC_COUNT}" />
                <!-- 单次单用户结算消息的条数 -->
                <entry key="SEND_SMS_MAX_BILLING_COUNT" value="${USP.SEND_SMS_MAX_BILLING_COUNT}" />

                <!--电科发服务地址 -->
                <entry key="DKF_WEBSERVICE_URL" value="${USP.DKF_WEBSERVICE_URL}" />
                <!--电科发服务用户名 -->
                <entry key="DKF_WEBSERVICE_USERNAME" value="${USP.DKF_WEBSERVICE_USERNAME}" />
                <!--电科发服务密码 -->
                <entry key="DKF_WEBSERVICE_PASSWORD" value="${USP.DKF_WEBSERVICE_PASSWORD}" />
                <!--电科发服务秘钥 -->
                <entry key="DKF_WEBSERVICE_SECRET_KEY" value="${USP.DKF_WEBSERVICE_SECRET_KEY}" />

                <!-- 短信单价 -->
                <entry key="SMS_PRICE" value="${USP.SMS_PRICE}" />

                <!-- 凭证存放地址 -->
                <entry key="BANK_TRANSFER_CERTIFICATE_PATH" value="${USP.BANK_TRANSFER_CERTIFICATE_PATH}" />
            </util:map>
        </property>
    </bean>

</beans>
